* {
    font-family: monospace;
}
div.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding: 1rem;
    border: 1px solid rgb(0, 110, 178);
    border-radius: 15px;
    background-color: rgba(31, 207, 255, 1);
}

/* style for main heading  */
h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#color-red {
    color: red;
}

form.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

div.output {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Adding some basic styling to button */ 
.btn { 
    text-decoration: none; 
    border: none; 
    /* border-color: rgb(255, 115, 0); */
    padding: 8x 20px; 
    margin: 0.5rem;
    font-size: 16px; 
    background-color: rgb(255, 115, 0); 
    color: rgb(255, 255, 255); 
    border-radius: 3px; 
    /* box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);  */
    cursor: pointer; 
    outline: none; 
    transition: 0.2s all; 
} 
/* Adding transformation when the button is active */ 
.btn:active, #copy:active { 
    transform: scale(0.98); 
    /* Scaling button to 0.98 to its original size */ 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    /* Lowering the shadow */ 
} 

select#methods {
    /* border: 1px solid black; */
    box-shadow: 0px 0px 3px rgb(0, 78, 111);
}

/* Adding some basic styling to input */
.input {
    border-radius: 10px;
    padding: 8px 20px;
    border: 1px solid rgb(0, 0, 0);
    border: none;
    color: rgb(37, 37, 37);
    font-weight: 600;
    outline: none;
    /* text-align: center; */
}

/* Style of conversion name in output */
span#conversion-name, span#enter-number {
    font-weight: 700;
    font-size: 20px;
    font-family: monospace;
}

/* addition style for output-value input */
#output-value {
    height: 100px;
    /* width: 80%; */
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
}

/* style for copy input type button */
#copy {
    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.2s all;
    margin: 0.4rem;
}


/* Only for small phones  */
@media (max-width: 400px) {
    div.output {
        flex-direction: column;
        margin: 0.1rem;
    }
    input#output-value {
        margin-top: 1rem;
    }
}
