* {

    font-family: monospace;
    font-size: 16px; 
}
html {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(144, 225, 255);
}
div.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding: 1rem;
    /* border: 1px solid rgb(0, 110, 178); */
    border-radius: 15px;
    /* background-color: rgba(31, 207, 255, 1); */
    background-color: rgb(16, 255, 112);
}

.display-flex {
    display: flex;
}
/* style for main heading  */
h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#color-red {
    color: red;
    font-family: cursive;
}

form.form {
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#input-value {
    margin-top: 1rem;
}

div.output {
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
}

/* Adding some basic styling to button */ 
.btn { 
    text-decoration: none; 
    border: none; 
    padding: 8x 20px; 
    margin: 0.5rem;
    background-color: rgb(255, 115, 0); 
    color: rgb(255, 255, 255); 
    border-radius: 3px; 
    cursor: pointer; 
    cursor: pointer; 
    cursor: pointer; 
    outline: none; 
    transition: 0.1s all; 
} 
/* Adding transformation when the button is active */ 
.btn:active, #copy:active { 
    transform: scale(0.98); 
    /* Scaling button to 0.98 to its original size */ 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    /* Lowering the shadow */ 
} 

.shadow {
    box-shadow: 0px 0px 1px rgb(31, 31, 31);
}

/* Adding some basic styling to input */
.input {
    padding: 8px 20px;
    border: none;
    color: rgb(37, 37, 37);
    font-weight: 600;
    outline: none;
}

/* Style of conversion name in output */
span#conversion-name, span#enter-number {
    font-weight: 700;
    font-size: 20px;
    font-family: monospace;
}

/* addition style for output-value input */
#output-value {
    height: 100px;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
}

/* style for copy input type button */
#copy {
    padding: 5px;
    align-self: flex-start;
    background-color: rgb(255, 115, 0);
    color: rgb(255, 255, 255);
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    transition: 0.1s all;
}

div#output-value-wrapper {
    /* border: 1px solid red; */
    justify-content: center;
    border-top-right-radius: 3px;
    align-items: center;
    background-color: white;
}


/* Only for small phones  */
@media (max-width: 400px) {
    div.content {
        width: 90%;
    }
    div.output {
        flex-direction: column;
        margin: 0.1rem;
    }
    div#output-value-wrapper {
        flex-direction: column-reverse;
        margin-top: 1rem;
    }
    #copy {
        /* for top-right corner */
        align-self: flex-end;  
    }
    
}

@media (min-width: 401px) and (max-width: 720px) {
    div.content {
        width: 80%;
    }
}
